/**
 * Projet: Site web permettant aux utilisateurs d'ajouter, de modifier et de supprimer leurs postes
 * Auteur: Srijon Rahman
 * Date: 30.01.2023
 * Détail: Gère le visuel du site
 */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 25%;
    background-color: white;
    border-radius: 5px;
    margin: 1%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}

main {
    display: flex;
    flex-wrap: wrap;
}
footer {
    color: white;
    background-color: rgba(49, 49, 49, 0.801);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}